<!-- app.component.html -->
<nav class="navbar" *ngIf="showNavbar">
  <h1>🌱 AgroAI</h1>
  <div class="nav-buttons">
    <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</button>
   
    <button routerLink="/auth" routerLinkActive="active">Login</button>
    <button routerLink="/about" routerLinkActive="active">About</button>
    <button routerLink="/help" routerLinkActive="active">Help</button>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
